<%- include('../includes/header'); %>

  <div class="container">

    
      <h1 class="text-center mb-3">Rumah Adat Kalimantan Selatan</h1>
      <img class="img-fluid mx-auto d-block" src="https://kebudayaan.kemdikbud.go.id/bpcbkaltim/wp-content/uploads/sites/34/2016/07/110.jpg" alt="">
    

    <article class="mt-4">
      <p class="" style="text-align: justify;">Rumah adat yang berada di masing masing daerah memang memiliki keunikan yang berbeda. Inilah yang membuat Indonesia semakin kaya dengan keberagaman suku dan budayanya. Begitu juga dengan keunikan di Kalimantan Selatan dengan Palangkaraya sebagai ibu kotanya.
        Seperti daerah Kalimantan yang lainnya, Kalsel juga masih dipengaruhi oleh suku-suku besar yang menempati seperti suku Banjar. Berikut ini rumah adat khas dari Kalimantan Selatan yang wajib anda ketahui.
      </p>

      <h3>1. Rumah Gajah Manyusu</h3>
      <img class="img-fluid mx-auto d-block" src="https://www.celebes.co/borneo/wp-content/uploads/2020/03/Rumah-Gajah-Manyusu.jpg" alt="">
      <p class="mt-4" style="text-align: justify;">
        Rumah Gajah Menyusu merupakan rumah adat Kalimantan Selatan, yang memiliki ciri berbentuk limas dengan adanya hidung bapicik atau atap mansart di bagian depannya. Ciri lainnya pada bagian anjung memiliki atap dari pisang sasikat dan bagian surambinya beratapkan Sindang Langit. Dahulu, bagian tubuh bangunan induk memiliki bentuk kontruksi segi empat memanjangn dari depan hingga belakang.
        Dimana pada bagian depannya i tutup dengan menggunakan atap perisai buntung. <br> <br> Atap ini dalam bahasa Banjar juga disebut dengan Atap Hidung Bapicik. Atap perisai buntung akan menutupi bagian Surambi Pamedangan sampai ruangan yang dibelakangnya. Kemudian dalam perkembangannya, rumah adat ini memiliki bentuk segi empat panjang. Ditambahkan beberapa ruangan pada samping kanan maupun kiri bangunan.

        Bahkan juga ada sebagian yang menambahkan ruangan pada kedua sisi dengan posisi yang simetris dan sedikit ke belakang. Ukuran penambahan ruangan ini adalah sama panjang. Dalam bahasa Banjar, penamabahan ruang inilah yang dinamakan dengan di sumbi. Sementara untuk rumah yang sudah mendapat tambahan disebut dengan anjung. Bentuk bangunan rumah yang seperti inilah yang disebut dengan rumah Gajah Manyusu.
      </p>

      <h3>2. Rumah Bubungan Tinggi</h3>
      <img class="img-fluid mx-auto d-block" src="https://www.celebes.co/borneo/wp-content/uploads/2020/03/Rumah-Bubungan-Tinggi.jpg" alt="">

      <p class="mt-4" style="text-align: justify;">
        Rumah bubungan tinggi ini merupakan rumah kesultanan yang berasal dari Kalimantan Selatan. Kemudian seiring dengan berjalannya waktu, banyak masyarakat Banjar yang mengusung konsep dari bangunan rumah adat ini. Menggunakan konsep rumah panggung, berbahan dasar kayu ulin. Kayu ulin sendiri memang dipercaya memiliki kekuatan yang tidak diragukan. <br><br> Bahkan banyak yang mengatakan jika terkena air maka akan semakin kuat.
        Sehingga wajar jika penggunaan kayu ini membuat rumahnya bisa bertahan sampai ratusan tahun. Untuk bagian atap rumah bubungan tinggi ini memiliki tinggi dan memiliki sudut kemiringan berkisar 45 derajat. Pada bagian atapnya mirip dengan pelana kuda, dengan bagian tengah hingga ke depan disebut atap sindang langit. Untuk bagian tengah ke belakangan menggunakan hambin awan. Pada bagian puncak atap memiliki ragam motif hias.
      </p>

      <h3>3. Rumah Baanjung Gajah Baliku</h3>
       
      <img class="img-fluid mx-auto d-block"  src="https://cdn-2.tstatic.net/banjarmasin/foto/bank/images2/rumah-adat-banjar-cagar-budaya-di-teluk-selong-ulu-martapura-1.jpg" alt="">
      <p class="mt-4" style="text-align: justify;">
        Rumah Ba’anjung Gajah Maliku adalah jenis rumah Ba’anjung yang merupakan rumah tradisional suku Banjar. Rumah adat satu ini sebenarnya pada zaman kesultanan Banjar difungsikan sebagai tempat tinggalnya warit Raja. Warit Raja adalaha sebutan untuk para keturunan di garis utama atau bubuhan para gusti. Sehingga membuat rumah adat ini hanya dihuni oleh mereka calon pengganti Sultan maupun ketika terjadi sesuatu pada Sultan.

      Bisa dikatakan jika rumah tradisional ini hampir mirip dengan rumah Bubungan Tinggi. <br><br> Namun tetap ada perbedaannya, yakni yang terletak pada bagian ruang tamu atau Ruang Paluaran. Utuk bagian atapnya menggunakan atap perisau yang juga disebutatap gajah. Konstruksi yang digunakan merupakan konstruksi kuda kuada dengan bagian lantai ruang yang datar. Membuatnya bisa menghasilkan bentuk ruang bangun atau yang disebut Ambin Sayup.
      </p>
    </article>

    <h2>
      Komentar
    </h2>
    <a href="/posts/create">
      <button class="btn btn-primary">
        Buat Komentar
      </button>
    </a>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>Komentar</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% posts.forEach(post=> { %>
          <tr>
            <td>
              <%= post.id %>
            </td>
            <td>
              <%= post.title %>
            </td>
            <td>
              <%= post.content %>
            </td>
            <td>
              <div class="">
                <a href="/posts/edit/<%= post.id %>/">
                  <button class="btn btn-primary">
                    Edit
                  </button>
                </a>
                <form method="POST" action="/posts/delete/<%= post.id %>/">
                  <button type="submit" class="btn btn-danger">
                    Delete
                  </button>
                </form>
              </div>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>

  <%- include('../includes/footer'); %>